<mat-card>
        <h2> Contract Details </h2>
                   <table border="1" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                   
                   
                       <ng-container matColumnDef="Contract">
                           <!-- <th mat-header-cell *matHeaderCellDef> User Name </th> -->
                           <td mat-cell *matCellDef="let element"> {{element.Contract}} </td>
                       </ng-container>
                     
                       <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns" width=50%></tr> -->
                       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                   </table>
                   </mat-card> 
   
                   <mat-card-actions style="float: right; position: absolute;top:20%; right : 10% ">
                        <!-- <h3>Actions</h3> -->
                        <mat-card>
                            <button class='ghost-round full-width'   (click)="estimate()" >Send Estimate</button>
                            <button class='ghost-round full-width'   (click)="accept()" >Accept</button>
                            <button class='ghost-round full-width' (click)="reject()">Reject</button>
                        </mat-card>
                        </mat-card-actions>