<div class='container' style="background-color:white;height:50%;top:20%;">

  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='input-fields'>
        <input type='email' placeholder='Email' class='input-line full-width' id="Email" [(ngModel)]="email">
        <input type='password' placeholder='Password' class='input-line full-width' id="Pass" [(ngModel)]="password">

        <select class='input-fields input-line full-width' (change)="this.value=$event.target.value">
          <option *ngFor="let opt of Options" value={{opt}} style="color: black">
            {{opt}}
          </option>
        </select>

      </div> 
      <div><button class='ghost-round full-width' (click)="_loginexec()">Login</button></div>
      <div><button class='ghost-round full-width' (click)="_login()">Create Account</button></div>
    </div>
  </div>
</div>