 
<style>
  
  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: white;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }
 
  .content {
    /*display: flex;*/
    margin: 32px auto;
    padding: 0 16px;
    /*max-width: 960px;*/
    /*flex-direction: column;*/
   
  }
 
</style>
 
<div class="toolbar"  >
  <br>
  <img width="300" alt="John Deere" src="../assets/johnDeere.png" /> 
  <div class="spacer"></div> 
    <h2 style="color: black; margin-right: 10%" *ngIf="userName" >Welcome   </h2>  
   
</div>

<div class="content" role="main">
  <mat-divider style="color: green;width: 100%;  align-self: center; position: absolute;top: 7%"></mat-divider>
  <br>
    <router-outlet></router-outlet>
</div>
 


